# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.pyc

# Django
db.sqlite3

# Environment variables
.env

# Virtual environment
smartlead_env/
venv/

# VS Code
.vscode/

# Mac files
.DS_Store
